/* IMPORTATIONS */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Noto+Serif&family=Roboto:wght@300;500&display=swap");
@import url("normalize.css");
@import url(variables-color.css);

/* GLOBAL */
* {
  font-family: Roboto, Jost, sans-serif;
  font-weight: 300;
  font-size: 16px;
  /* box-sizing: border-box; */
}

body {
  max-width: none !important; /* override du maxwidth du normalize */
}

html{
  scroll-behavior: smooth;
}

a {
  color: #11373f;
  text-decoration: inherit;
  position: relative;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a {
  font-family: "Noto Serif", serif;
  font-weight: 400;
  font-size: 18px;
}

div.xtra {
  height: 200vh;
  content: "";
  background-color: yellow;
}

.title-h1 {
  font-size: 40px;
  font-weight: 400;
  color: #1d5f6b;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
}

.container {
  max-width: 1400px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .container{
    padding: 0 1rem;
  }
}

.btn {
  padding: 1rem 0.8rem;
  border-radius: 3px;
  margin: 5px 0;
  transition: 0.3s all ease-in-out;
}
@media screen and (max-width: 600px) {
  .btn{
    font-size: 14px;
  }
}

.btn-bleu {
  border: 1px solid var(--primary);
  background-color: var(--primary);
  width: fit-content;
  color: beige;
}
.btn-bleu:hover a {
  color: var(--primary);
}
.btn-bleu:hover {
  color: var(--primary);
  border: 1px solid beige;
  background-color: beige;
}
.btn-bleu-transp {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  width: fit-content;
}
.btn-bleu-transp a {
  color: var(--primary);
}
.btn-bleu-transp:hover {
  background-color: var(--primary);
  color: white;
  width: fit-content;
}
.btn-bleu-transp:hover a {
  color: white;
}
.btn-rouge {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: white;
  width: fit-content;
}
.btn-rouge a {
  color: white;
}

p {
  line-height: 32px;
  font-size: 16px;
}

h1 {
  font-family: Jost, sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: var(--primary);
}
@media screen and (max-width: 600px) {
  h1  {
    font-size: 40px;
  }
}

h2 {
  font-family: Jost, sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--primary);
}
@media screen and (max-width: 600px) {
  h2  {
    font-size: 32px;
  }
}

h3,
.path p {
  font-family: Jost, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

main {
  margin-top: 150px;
}
@media screen and (max-width: 600px) {
  main  {
    margin-top: 200px;
  }
}

.lien {
  font-weight: 500;
  font-size: 18px;
}

a.lien_menu:after {
  display: block;
  content: "";
  width: 0px;
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  border-bottom: 2px solid #1d5f6b;
  -webkit-box-shadow: 0px 1px 4px 0px #1d5f6b;
  box-shadow: 0px 1px 4px 0px #1d5f6b;
  transition: all 0.3s;
}

a.lien_menu:hover::after {
  width: 100px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination ul {
  display: flex;
  padding: 0;
}

.pagination ul li {
  list-style: none;
  background: rgba(217, 217, 217, 0.2);
  padding: 1rem;
  margin: 0 0.5rem;
  min-width: 1rem;
  aspect-ratio: 1 / 1;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .pagination ul li  {
    padding: 0.5rem;
  }
}

.pagination-current {
  background: #f0e5d3 !important;
}

.arrow-prev {
  content: url("../img/chevron-double-left.svg");
}

.arrow-next {
  content: url("../img/chevron-double-right.svg");
}
/* END GLOBAL */

/* HEADER */
header .navbar {
  padding: 0 2rem;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  background: white;
  z-index: 100;
}
body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}
header .navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
header .navbar-burger {
  position: absolute;
  top: 70px;
  right: 40px;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}
header .navbar-burger span {
  font-size: 40px;
  font-weight: 100;
}
header .navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  visibility: hidden;
  transition: translate 0.3s;
}
body.open header .navbar-menu {
  translate: 0 0;
  visibility: visible;
}
header .navbar-droite {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
header .navbar-liens {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header .navbar-menu a {
  font-size: 24px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

header .navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
}

header .navbar-menu > button.active {
  color: inherit;
}

header img.logo {
  width: 180px;
  padding: 2.5rem 2rem;
  z-index: 100;
}
header div.header-icon a img {
  width: 50px;
  padding: 0 0.5rem;
}
header div.header-icon {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

/* header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* header ul {
  display: flex;
} */

@media only screen and (min-width: 600px) {
  header .navbar > a {
    display: none;
  }
  header .navbar {
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 100%;
  }
  header .navbar-overlay {
    display: none;
  }
  header .navbar-burger {
    display: none;
  }
  header .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
  }
  header .navbar-droite {
    align-items: space-between;
    flex-direction: row;
    width: auto;
  }
  header .navbar-liens {
    align-items: center;
    flex-direction: row;
  }
  header div.header-icon a img {
    width: 32px;
    padding: 0 0.5rem;
  }
  header .navbar-menu a {
    font-size: 18px;
    width: auto;
    padding: 0;
  }
  header div.header-icon {
    margin-top: inherit;
  }
  header img.logo {
    width: 100px;
  }
  header .navbar-liens a {
    padding: 0 2rem;
  }
}
header button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

header div.header-icon .cart-icon {
  position: relative;
}

header div.header-icon .cart-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  bottom: 0;
  left: 0;
}

header div.header-icon .cart-icon span {
  position: absolute;
  background-color: #f7645d;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
}

header div.header-icon input[type="search"] {
  border: none;
  border-bottom: 1px solid #11373f;
  height: 32px;
  width: 0px;
  padding: 0rem;
}

header .search-container {
  display: flex;
}
/* END HEADER */

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}
footer a.lien_menu:hover::after {
  bottom: -3px;
}

footer .col-footer {
  text-align: center;
  width: 33%;
  min-width: 260px;
}
footer .col-footer ul {
  display: flex;
  flex-direction: column;
}
footer .col-footer ul li {
  list-style: none;
  padding: 0.5rem;
}
footer .made-in-france {
  margin-top: 2rem;
}
footer .made-in-france p {
  font-size: 0.8rem;
}

footer .drapeau {
  margin: 0 auto;
  display: block;
  height: 5px;
  background-color: white;
  width: 5rem;
  content: " ";
  position: relative;
}

footer .drapeau::before {
  display: block;
  height: 5px;
  background-color: darkblue;
  width: 5rem;
  content: " ";
  position: absolute;
  left: -5rem;
}

footer .drapeau::after {
  display: block;
  height: 5px;
  background-color: red;
  width: 5rem;
  content: " ";
  position: absolute;
  right: -5rem;
}

footer .social ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer .social ul li {
  list-style: none;
  margin: 0.6rem;
  gap: 30px;
}

footer .social img {
  width: 32px;
}
/* END FOOTER */

/*FEED INSTA */
#feed_insta {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  #feed_insta  {
    flex-direction: column;
  }
}
#feed_insta .img_insta {
  margin: 0 5px;
  width: 100%;
  transition: 0.3s all ease-in-out;
  position: relative;
}
@media screen and (max-width: 600px) {
  #feed_insta .img_insta  {
    margin-bottom: 1rem;
  }
}
#feed_insta .img_insta:hover img {
  background-color: rgba(0, 0, 0, 0.5);
}
#feed_insta .img_insta:hover .btn {
  display: block;
}
#feed_insta .img_insta img {
  margin: 0 5px;
  width: 100%;
  width: 100%;
  max-height: 340px;
  object-fit: cover;
}
#feed_insta .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#feed_insta .img_insta:hover + #feed_insta .btn {
  display: block;
}
#feed_insta .logo_insta{
  position: absolute;
  left: -450px;
  z-index: -1;
}
#feed_insta .logo_insta img{
  height: 600px;
  filter: opacity(0.15);
}
/* END FEED INSTA */

/* HOME HERO BANNER TOP */
#hero_banner {
  margin-bottom: 5rem;
}

.cards_cat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
@media screen and (max-width: 600px) {
  .cards_cat {
    flex-direction: column;
  }
}
.card_cat {
  width: 25%;
  height: 100%;
  text-align: center;
  min-height: 777px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_cat:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .card_cat {
    width: 100%;
    min-height: inherit;
    height: 300px;
  }
}
.card_cat p {
  margin-top: 8rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .card_cat p {
    margin-top: inherit;
  }
}
.one {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/products/DiamantBrut.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.two {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/products/BouclesFondOrange.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tree {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/products/BouclesFondBleu.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.for {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/products/BouclesFondRose.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* END HOME HERO BANNER TOP */

/* HOME TEXTE INTRO */
#texte_intro {
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: 5rem;
}
/* END HOME TEXTE INTRO */

/* HOME PRODUITS */
#produits {
  margin-bottom: 10rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  #produits  {
    margin-bottom: 8rem;
  }
}
#produits .chapo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  #produits .chapo  {
    flex-direction: column;
  }
}
#produits h2{
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  #produits h2  {
    margin-bottom: 1rem;
  }
}
#produits .products_cards {
  display: flex;
  align-items: flex-start;
  column-gap: 2.3rem;
}
@media screen and (max-width: 600px) {
  #produits .products_cards  {
    align-items: center;
    flex-direction: column;
  }
}
#produits .big_product_card img {
  height: 550px;
  max-width: 420px;
}
@media screen and (max-width: 600px) {
  #produits .big_product_card img  {
    max-width: 300px;
    height: 400px;
    object-fit: cover;
  }
}
#produits .small_product_card img {
  height: 350px;
  max-width: 290px;
}
.infos {
  display: flex;
  justify-content: space-between;
}
.circle_1 {
  height: 1000px;
  width: 1000px;
  background-color: rgba(29, 95, 107, 0.05);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  right: -300px;
  top: -100px;
}
/* END HOME PRODUITS */

/* HOME BANNIERE DEVIS */
#banniere_devis {
  background-image: linear-gradient(to right, rgba(29, 95, 107, 0.5), rgba(247, 100, 93, 0.5)), url("../img/products/QuartzBrut.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 8rem;
  position: relative;
}
@media screen and (max-width: 600px) {
  #banniere_devis  {
    margin-bottom: 6rem;
  }
}
#banniere_devis .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 6rem;
}
@media screen and (max-width: 600px) {
  #banniere_devis .content  {
    flex-direction: column;
    padding: 2rem;
    align-items: flex-start;
  }
}
#banniere_devis .btn {
  margin: inherit;
}
#banniere_devis h2 {
  color: white;
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  #banniere_devis h2  {
    margin-bottom: 1.5rem;
  }
}
.circle_2 {
  height: 650px;
  width: 650px;
  background-color: rgba(29, 95, 107, 0.05);
  border-radius: 50%;
  position: absolute;
  left: -380px;
  top: -150px;
  z-index: -1;
}
/* END HOME BANNIERE DEVIS */

/* HOME ARTICLES */
#articles {
  margin-bottom: 15rem;
}
@media screen and (max-width: 600px) {
  #articles  {
    margin-bottom: 8rem;
  }
}
#articles h2{
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  #articles h2  {
    margin-bottom: 1rem;
  }
}
#articles .articles {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 7rem;
}
@media screen and (max-width: 600px) {
  #articles .articles  {
    flex-direction: column;
  }
}
#articles .chapo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media screen and (max-width: 600px) {
  #articles .chapo  {
    flex-direction: column;
  }
}
#articles .btn {
  padding: 0.7rem 0.8rem;
}
#articles .big_card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
@media screen and (max-width: 600px) {
  #articles .big_card {
    margin-bottom: 2.5rem;
  }
}
#articles .big_card img {
  margin-bottom: 0.5rem;
  max-height: 450px;
}
@media screen and (max-width: 600px) {
  #articles .big_card img {
    max-height: 400px;
    height: 400px;
    max-width: 350px;
    width: 100%;
    object-fit: cover;
  }
}
#articles .big_card h2 {
  margin-bottom: 0;
}
#articles .big_card h3{
  font-size: 40px;
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}
#articles .small_card h3{
  font-size: 24px;
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}
#articles .big_card p {
  margin-bottom: 2rem;
}
#articles .small_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #articles .small_card {
    margin-bottom: 2.5rem;
  }
}
#articles .small_card img {
  height: 200px;
  width: 100%;
  margin-bottom: 0.5rem;
  object-fit: cover;
}
#articles .small_card h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}
/* END HOME ARTICLES */

/* BLOC HOME PROPOS */
#propos {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}
@media screen and (max-width: 600px) {
  #propos {
    flex-direction: column;
    margin-bottom: 8rem;
  }
}
#propos p {
  margin-bottom: 2rem;
}
#propos p:last-of-type {
  margin-bottom: 2.5rem;
}
#propos .contenu_propos {
  padding-left: 6rem;
}
@media screen and (max-width: 600px) {
  #propos .contenu_propos {
    padding: 0;
  }
}
.image_propos img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  .image_propos img {
    height: 400px;
    margin-bottom: 0.5rem;
  }
}
/* END HOME BLOC PROPOS */

/* LISTING PRODUCT */

.boucle-doreilles {
  object-fit: cover;
  max-height: 300px;
}

.banner-top {
  background-image: url("../img/products/ModelBoucle.jpg");
  width: 100vw;
  margin-top: 5rem;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
}

.banner-desc {
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  color: #3e3943;
}

.mini_cat {
  display: flex;
  text-align: center;
  margin-bottom: 7rem;
  background-color: rgba(29, 95, 107, 0.05);
}
@media screen and (max-width: 600px) {
  .mini_cat {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 4rem;
  }
}
.mini_cat > div {
  width: 25%;
}
@media screen and (max-width: 600px) {
  .mini_cat > div {
    width: 100%;
  }
}

.mini_cat > div p {
  color: #1d5f6b;
  font-weight: bold;
  font-size: 1.2rem;
}
@media screen and (max-width: 600px) {
  .mini_cat > div p {
    margin: 0.8rem 0;
  }
}

.product-list-container {
  display: flex;
  margin-bottom: 8rem;
}
@media screen and (max-width: 600px) {
  .product-list-container {
    margin-bottom: 5rem;
    flex-direction: column;
  }
}
.product-list-container h2 {
  margin: 0;
}

.product-list-container asside {
  width: 25%;
  background-color: rgba(29, 95, 107, 0.05);
  padding: 4rem 0rem 2rem 2rem;
  margin: 0 2rem 0 0;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .product-list-container asside {
    width: 100%;
  }
}
.product-list-container .product-list {
  width: 75%;
}
@media screen and (max-width: 600px) {
  .product-list-container .product-list {
    width: 100%;
  }
}
.input-number {
  width: 100%;
  text-align: right;
  height: 2.5rem;
  background: transparent;
  border: none;
}

.input-number-container {
  border: 1px solid #1d5f6b;
  border-radius: 10px;
  width: 20%;
  padding: 0 0.5rem;
  position: relative;
  margin-right: 15px;
}

.input-number-container {
  display: inline-block;
}

.input-number-container span {
  display: inline-block;
  margin-right: 15px;
}

.input-number-prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

input[type="range"] {
  height: 25px;
  /*-webkit-appearance: none;*/
  margin: 10px 0;
  width: 80%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /*animate: 0.2s;*/
  box-shadow: 0px 0px 0px #000000;
  background: #1d5f6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1d5f6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #1d5f6b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1d5f6b;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /*animate: 0.2s;*/
  box-shadow: 0px 0px 0px #000000;
  background: #1d5f6b;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1d5f6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #1d5f6b;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /*animate: 0.2s;*/
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #1d5f6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #1d5f6b;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #1d5f6b;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #1d5f6b;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #1d5f6b;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1d5f6b;
}

/*---*/

.product-list h2 {
  margin-bottom: 1rem;
}

.container-list-produit {
  display: flex;
  flex-wrap: wrap;
}

.produit-card {
  flex: 0 0 30%;
  margin: 1rem;
}
@media screen and (max-width: 600px) {
  .produit-card{
    flex: 1;
  }
}

.produit-card img {
  width: 100%;
}

.product-hover {
  position: relative;
}

.product-hover-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

.product-hover-contain:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.product-hover-button {
  opacity: 0;
  transition: opacity 0.2s;
}

/*---*/

.product-list h2 {
  margin-bottom: 1rem;
}

.container-list-produit {
  display: flex;
  flex-wrap: wrap;
}

.produit-card {
  flex: 0 0 30%;
  margin: 1rem;
}

.produit-card img {
  width: 100%;
}

.product-hover {
  position: relative;
}

.product-hover-contain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
}

.product-hover-contain:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.product-hover-button {
  opacity: 0;
  transition: opacity 0.2s;
}

.product-hover-contain:hover > .product-hover-button {
  opacity: 1;
}
.product-hover-contain:hover > .product-hover-button {
  opacity: 1;
}

/* END LIST PRODUCT */

/* PRODUCT */
#product {
  margin-top: 170px;
}

#product .product__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}
#product .product__container .product__container__img {
  width: 30%;
}
#product .product__container .product__container__img img {
  width: 100%;
  min-width: 300px;
  height: 500px;
  object-fit: cover;
}
#product .product__container .product__container__description {
  width: 40%;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.circle.selected {
  border: 4px solid #1d5f6b;
}

#product .product__container__description span.prix {
  font-size: 1.5rem;
  font-weight: 500;
}
.prix-sign {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  vertical-align: middle;
}
.prix-currency {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 35px;
  padding: 0;
  vertical-align: middle;
}
.prix-cent {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  vertical-align: bottom;
}
#product .product__container button {
  width: 100%;
}
/* END PRODUCT */

/* ABOUT */
#about {
  margin-top: 170px;
  margin-bottom: 8rem;
}
@media screen and (max-width: 600px) {
  #about {
    margin-bottom: 5rem;
    margin-top: 230px;
  }
}
#about div.banniere {
  background-image: url("../img/greenstone.jpeg");
  background-position: center;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about div.banniere .carre {
  background-color: white;
  margin: auto;
  padding: 20px 60px;
}
#about div.banniere h1 {
  background-image: url("../img/greenstone.jpeg");
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}

#about h2 {
  margin-bottom: 10px;
}
#about .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  #about .center {
    width: 100%;
    min-width: inherit;
  }
}
#about .texte-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px auto;
}
@media screen and (max-width: 600px) {
  #about .texte-image {
    flex-direction: column;
  }
}
#about .texte-image article {
  width: 60%;
  text-align: left;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  #about .texte-image article {
    width: 100%;
  }
}
#about .texte-image img {
  width: 40%;
  max-width: 350px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  #about .texte-image img {
    width: 100%;
  }
}
#about .citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding-inline: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
}
#about .citation {
  position: relative;
  /* width: 70%;
  min-width: 600px; */
  width: fit-content;
}
#about .citation p::before {
  content: "“";
  font-size: 6rem;
  color: #1d5f6b;
  position: absolute;
  left: -20px;
}
#about .citation p::after {
  content: "”";
  font-size: 6rem;
  color: #1d5f6b;
  position: absolute;
  right: 0;
  bottom: -40px;
}
/* END ABOUT */

/* BLOG */
#blog div.banniere {
  background-image: url("../img/products/CollierToile.jpg");
  background-position: center;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blog div.banniere .carre {
  background-color: white;
  margin: auto;
  padding: 20px 60px;
}
#blog div.banniere h1 {
  background-image: url("../img/products/CollierToile.jpg");
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}
#blog .path {
  margin-bottom: 4rem;
}
#blog img {
  object-fit: cover;
}
#blog #presentation {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}
@media screen and (max-width: 600px) {
  #blog #presentation {
    flex-direction: column;
    margin-bottom: 6rem;
  }
}
#blog #presentation .image {
  width: 50%;
}
@media screen and (max-width: 600px) {
  #blog #presentation .image {
    width: 100%;
  }
}
#blog #presentation .image img {
  width: 100%;
  max-height: 650px;
}
#blog #presentation .content {
  width: 50%;
  text-align: center;
  padding: 0 5rem;
}
@media screen and (max-width: 600px) {
  #blog #presentation .content {
    width: 100%;
    padding: 0;
  }
}
#blog .articles {
  margin-bottom: 8rem;
}
#blog .articles .card_article_x3 {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #blog .articles .card_article_x3 {
    flex-direction: column
  }
}
#blog .articles .card_article_x3 .card_inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
}
@media screen and (max-width: 600px) {
  #blog .articles .card_article_x3 .card_inner {
    margin-bottom: 3rem;
  }
}
#blog .articles .card_article_x3 .card_inner .btn {
  margin: auto;
}
#blog .articles .card_article_x3 .card_inner img {
  max-height: 430px;
  max-width: 400px;
}
#blog .articles_ligne .card_inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  #blog .articles_ligne .card_inner  {
    flex-direction: column;
  }
}
#blog .articles_ligne {
  margin-bottom: 2rem;
}
#blog .btn-seul {
  margin-bottom: 15rem;
}
#blog .btn-seul .btn {
  margin: auto;
}
#blog .articles_ligne .card_inner .image img {
  max-height: 250px;
  width: 100%;
}
#blog .articles_ligne .card_inner .image {
  width: 30%;
}
@media screen and (max-width: 600px) {
  #blog .articles_ligne .card_inner .image  {
    width: 100%;
  }
}
#blog .articles_ligne .card_inner .content {
  width: 70%;
  text-align: center;
  padding: 0 3.5rem;
}
#blog .articles_ligne .card_inner .content .btn {
  margin: auto;
}
#blog hr {
  border: 1px solid #e7e7e7;
  border-top: none;
  margin: 2rem 0;
}
/* END BLOG */

/* PANIER */
#cart {
  margin-top: 170px;
}
#cart .content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #cart .content {
    flex-direction: column;
  }
}
#cart h2 {
  font-size: 30px;
}
#cart .articles_panier {
  width: 60%;
}
@media screen and (max-width: 600px) {
  #cart .articles_panier {
    width: 100%;
  }
}
#cart .header_articles {
  display: grid;
  grid-template-columns: repeat(2, 3fr) 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 20px;
  border-bottom: #1d5f6b 1px solid;
  height: 68px;
}
#cart .header_articles div {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cart .header_articles .titre1 {
  grid-area: 1 / 2 / 2 / 3;
}
#cart .header_articles .titre2 {
  grid-area: 1 / 3 / 2 / 4;
}
#cart .article_panier {
  display: grid;
  grid-template-columns: repeat(2, 3fr) 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 20px;
  border-bottom: #1d5f6b 1px solid;
}
@media screen and (max-width: 600px) {
  #cart .article_panier {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
#cart .panier_image_article {
  grid-area: 1 / 1 / 5 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart .panier_image_article img {
  width: 200px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  #cart .panier_image_article img {
    margin-bottom: 1rem;
  }
}
#cart .panier_titre_article {
  grid-area: 1 / 2 / 2 / 3;
}
@media screen and (max-width: 600px) {
  #cart .panier_titre_article h2 {
    margin-bottom: 0;
  }
}
#cart .panier_qte_article {
  grid-area: 2 / 2 / 3 / 3;
}
#cart .panier_qte_article .input-number-container {
  width: 50%;
  padding-inline-end: 20px;
}
@media screen and (max-width: 600px) {
  #cart .panier_qte_article .input-number-container {
    width: 15%;
    margin-right: 0;
    padding: 0 1rem;
  }
}
@media screen and (max-width: 600px) {
  #cart .panier_qte_article .input-number-container .input-number {
    text-align: center;
  }
}
#cart .panier_prix_article {
  grid-area: 1 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart .panier_delete_article {
  grid-area: 1 / 4 / 3 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cart .panier_delete_article img {
  width: 40px;
}
#cart .form_panier {
  width: 35%;
}
@media screen and (max-width: 600px) {
  #cart .form_panier {
    width: 100%;
  }
}
#cart .form_panier > p,
#cart .form_panier h2 {
  text-align: center;
  margin-inline: auto;
}
#cart .form_livraison {
  background: rgba(29, 95, 107, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
#cart .form_livraison label {
  width: 40%;
}
#cart .form_livraison input:not([type="radio"]),
#cart .form_livraison textarea,
#cart .form_livraison select {
  background-color: white;
  border: none;
  padding: 10px;
  width: 60%;
}
#cart .form_livraison > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}
#cart .form_payement {
  background: rgba(29, 95, 107, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
#cart .form_payement > div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
#cart .form_payement label {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 5px 0;
}
#cart .form_payement .cb {
  width: 100%;
}
#cart .form_payement .cb img {
  width: 50px;
}
#cart .form_payement input[type="submit"] {
  width: 100%;
}
#cart .form_choix_livr {
  margin: 30px 0;
  display: flex;
}
#cart .form_choix_livr legend {
  text-align: center;
  padding-inline: 20px;
}
#cart .form_choix_livr > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* END PANIER */

/* CONTACT */
#contact {
  margin-top: 170px;
}

#contact article {
  margin-top: 50px;
}

#contact .map {
  display: flex;
  justify-content: center;
}

#contact .form-inline {
  display: flex;
  justify-content: space-between;
}

#contact form {
  width: 100%;
}

#contact form input:not(.submit) {
  width: 100%;
  box-sizing: border-box;
}

#contact .submit {
  text-align: center;
  margin-top: 10px;
}

#contact form textarea {
  width: 100%;
  box-sizing: border-box;
  color: gray;
}

#contact .sectionFlex {
  display: flex;
  justify-content: space-around;
}

#contact .nom {
  width: 40%;
  margin-right: 20px;
}

#contact .prenom {
  width: 40%;
}

#contact .objet {
  margin-bottom: 20px;
}

#contact .message {
  height: 70px;
  text-align: start;
}

#contact .infos {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  #contact .infos {
    flex-direction: column;
    align-items: center;
  }
}

#contact .jour {
  margin-right: 10px;
}

#contact h3 {
  text-align: center;
}

#contact .coordonnees {
  margin-left: 50px;
}

#contact .horairesFlex {
  display: flex;
}

#contact .marginText {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}
@media screen and (max-width: 850px) {

  .sectionFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionFlex article {
    width: 90%;
  }
}