{% include 'admin/partial-admin/header-admin.twig' %}
<div class="admin-content">
    <h2>Tableau de bord</h2>
    <div class="statistic-container">
        <div class="statistic-card red">
            <p>Produits</p>
            <p><span class="number">{{ produit.nbproduit }}</span></p>
        </div>
        <div class="statistic-card blue">
            <p>Commandes</p>
            <p><span class="number">{{ produit.nbcommande }}</span></p>
        </div>
        <div class="statistic-card green">
            <p>Clients</p>
            <p><span class="number">{{ produit.nbclient }}</span></p>
        </div>
        <div class="statistic-card yellow">
            <p>Revenus</p>
            <p><span class="number">{{ produit.revenusnet }} €</span></p>
        </div>
    </div>
</div>
{% include 'admin/partial-admin/footer-admin.twig' %}