<footer class="container">
    <div class="col-footer">
        <h3>Besoin d'aide</h3>
        <ul>
            <a href=""><li>Mentions légales</li></a>
            <a href=""><li>Plan du site</li></a>
            <a href=""><li>CGU / CGV</li></a>
            <a href=""><li>Politique de confidentialité</li></a>
        </ul>
    </div>
    <div class="col-footer">
        <h3>À propos</h3>
        <ul>
            <a href=""><li>SIREN / SIRET</li></a>
            <a href=""><li>Nous découvrir</li></a>
            <a href=""><li>CGU / CGV</li></a>
        </ul>

        <div class="made-in-france">
            <span class="drapeau"></span>
            <p>Made In France</p>
        </div>
    </div>
    <div class="col-footer">
        <h3>Réseaux</h3>
        <ul class="social">
            <a href=""><li>
                <img src="assets/img/instagram-93.svg" />
            </li></a>
            <a href=""><li>
                <img src="assets/img/mail-5886.svg" />
            </li></a>
        </ul>
    </div>
</footer>