<footer class="container">
    <div class="col-footer">
        <h3>Besoin d'aide</h3>
        <ul>
            <a href="./mentions.php#mentions">
                <li>Mentions légales</li>
            </a>
            <a href="#">
                <li>Plan du site</li>
            </a>
            <a href="./mentions.php#CGU">
                <li>CGU / CGV</li>
            </a>
            <a href="./mentions.php#confidentialite">
                <li>Politique de confidentialité</li>
            </a>
        </ul>
    </div>
    <div class="col-footer">
        <h3>À propos</h3>
        <ul>
            <li>SIREN / SIRET</li>
            <a href="./about">
                <li>Nous découvrir</li>
            </a>
        </ul>

        <div class="made-in-france">
            <span class="drapeau"></span>
            <p>Made In France</p>
        </div>
    </div>
    <div class="col-footer">
        <h3>Réseaux</h3>
        <ul class="social">
            <a href="https://www.instagram.com/emmapierrejewels/">
                <li>
                    <img src="assets/img/instagram-93.svg" />
                </li>
            </a>
            <a href="mailto:jeneconnaispaslemail@emmapierre.fr">
                <li>
                    <img src="assets/img/mail-5886.svg" />
                </li>
            </a>
        </ul>
    </div>
</footer>