<header id="img-header">
    <a href="./index.php"><img class="logo" src="assets/img/EP-logo-DEF-carre.png" width="125px" /></a>
    <div class="header-nav">
        <nav>
            <ul>
                <a href="./listing-product.php">
                    <li>Collections</li>
                </a>
                <a href="./about.php">
                    <li>À propos</li>
                </a>
                <a href="./blog.php">
                    <li>Blog</li>
                </a>
                <a href="./contact.php">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>

        <div class="header-icon">
            <a class="search-container">
                <img id="search-loupe" src="assets/img/search-2903.svg" />
                <form action="#">
                    <input id="search" type="search" />
                </form>
            </a>
            <a href="cart.php" class="cart-icon">
                <img src="assets/img/bags-1999.svg" />
                <span>1</span>
            </a>
            <a>
                <img src="assets/img/circle-user.svg" />
            </a>
            <a>
                <img src="assets/img/france.png" />
            </a>

        </div>
    </div>
</header>