<header id="img-header">
    <h1 id="">
        <img src="../assets/img/EP-logo-DEF-carre.png" width="125px"/>
    </h1>
    <div class="header-nav">
        <nav>
            <ul>
                <a href=""><li>Collections</li></a>
                <a href=""><li>À propos</li></a>
                <a href=""><li>Blog</li></a>
                <a href=""><li>Contact</li></a>
            </ul>
        </nav>

        <div class="header-icon">
            <a class="search-container">
                <img id="search-loupe" src="../assets/img/search-2903.svg" />
                <form action="#">
                    <input id="search" type="search" />
                </form>
            </a>
            <a class="cart-icon">
                <img src="assets/img/bags-1999.svg" />
                <span>1</span>
            </a>
            <a>
                <img src="assets/img/circle-user.svg" />
            </a>
            <a>
                <img src="assets/img/france.png" />
            </a>

        </div>
    </div>
</header>