{% include 'partial/header.html.twig' %}
    <div id="hero_banner">
        <div class="cards_cat">
            <div class="card_cat one">
                <p class="title-h1">Les précieuses</p>
                <a href="./listing-product.php">
                    <div class="btn btn-bleu-transp">
                        Voir les produits
                    </div>
                </a>
            </div>
            <div class="card_cat two">
                <p class="title-h1">Les impertinantes</p>
                <a href="./listing-product.php">
                    <div class="btn btn-bleu-transp">
                        Voir les produits
                    </div>
                </a>
            </div>
            <div class="card_cat tree">
                <p class="title-h1">Les uniques</p>
                <a href="./listing-product.php">
                    <div class="btn btn-bleu-transp">
                        Voir les produits
                    </div>
                </a>
            </div>
            <div class="card_cat for">
                <p class="title-h1">Les colorées</p>
                <a href="./listing-product.php">
                    <div class="btn btn-bleu-transp">
                        Voir les produits
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="texte_intro">
            <div class="chapo">
                <h1>EMMA PIERRE Création</h1>
                <p class="lead">Bienvenue sur le site EMMA PIERRE, où l'art et la passion se rencontrent pour créer des pièces exceptionnelles qui transcendent le temps. Nous sommes ravis de vous présenter notre collection exquise de bijoux haut de gamme, minutieusement conçue avec les meilleurs matériaux et une attention particulière aux détails. Nous sommes convaincus que vous trouverez la pièce parfaite qui vous permettra de vous démarquer et de rayonner en toute occasion.</p>
            </div>
        </div>

        <div id="produits">
            <div class="chapo">
                <h2>Produits du moment</h2>
                <a href="#" class="lien">Voir plus</a>
            </div>
            <div class="products_cards">
                <div class="big_product_card">
                    <img src="/img/products/CollierAlexandra.jpg" alt="Création de Bijoux"/>
                    <div class="infos">
                        <div class="titre_produit">
                            <p>Collier Alexandra</p>
                        </div>
                        <div class="prix_produit">
                            <p>49.3€</p>
                        </div>
                    </div>
                </div>
                <div class="small_product_card">
                    <img src="/img/products/CollierBlancFeuilles.jpg" alt="Création de Bijoux"/>
                    <div class="infos">
                        <div class="titre_produit">
                            <p>Collier Alexandra</p>
                        </div>
                        <div class="prix_produit">
                            <p>49.3€</p>
                        </div>
                    </div>
                </div>
                <div class="small_product_card">
                    <img src="/img/products/BouclesRose.jpg" alt="Création de Bijoux"/>
                    <div class="infos">
                        <div class="titre_produit">
                            <p>Collier Alexandra</p>
                        </div>
                        <div class="prix_produit">
                            <p>49.3€</p>
                        </div>
                    </div>
                </div>
                <div class="small_product_card">
                    <img src="/img/products/CollierPerleNoirOr.jpg" alt="Création de Bijoux"/>
                    <div class="infos">
                        <div class="titre_produit">
                            <p>Collier Alexandra</p>
                        </div>
                        <div class="prix_produit">
                            <p>49.3€</p>
                        </div>
                    </div>
                </div>
                <div class="circle_1"></div>
            </div>
            <div class="circle_1"></div>
        </div>

        <div id="propos">
            <div class="image_propos">
                <img src="/img/atelier.jpeg" alt="Création de Bijoux"/>
            </div>
            <div class="contenu_propos">
                <h2>Qui sommes-nous ?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta commodo velit in tristique. Donec lacus ex, dignissim nec ultricies et, feugiat at felis. Fusce placerat neque eget elit pretium vestibulum a nec diam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porta commodo velit in tristique. Donec lacus ex, dignissim nec ultricies et, feugiat at felis. Fusce placerat neque eget elit pretium vestibulum a nec diam.</p>
                <a href="#" target="_blank">
                    <div class="btn btn-bleu">
                        En savoir plus
                    </div>
                </a>
            </div>
        </div>

        <div id="banniere_devis">
            <div class="content">
                <h2>Demandez votre devis personnalisé</h2>
                <a href="#" target="_blank">
                    <div class="btn btn-bleu">
                        Contactez-nous
                    </div>
                </a>
            </div>
            <div class="circle_2"></div>
            <div class="circle_2"></div>
        </div>

        <div id="texte_intro">
            <div class="chapo">
                <h2>Nos concevons également des bijoux sur-mesure</h2>
                <p class="lead">La créativité ne connaît pas de limites. Nous sommes fiers de concevoir des bijoux uniques et sur-mesure pour nos clients, en utilisant les meilleurs matériaux et en combinant notre savoir-faire avec leurs idées et préférences. Si vous cherchez à offrir un cadeau spécial à un être cher, ou si vous voulez vous faire plaisir en vous offrant un bijou unique, n'hésitez pas à nous contacter. Nous serons ravis de vous aider à créer quelque chose de beau et de précieux qui durera toute une vie.</p>
            </div>
        </div>

        <div id="articles">
            <div class="chapo">
                <h2>Nos derniers articles</h2>
                <a href="#" class="lien">Voir plus</a>
            </div>
            <div class="articles">
                <article class="big_card">
                    <img src="img/products/AtelierBague.jpg" alt="Création de Bijoux"/>
                    <h3>Des bijoux uniques</h3>
                    <p>Des bijoux uniques pour une touche personnelle et originale à votre style. Portez quelque chose de spécial et de différent qui reflète votre personnalité et votre goût distinctif.</p>
                    <a href="#" target="_blank">
                        <div class="btn btn-bleu">Lire l'article</div>
                    </a>
                </article>
                <article class="small_card">
                    <img src="img/products/BagueMiroir.jpg" alt="Création de Bijoux"/>
                    <h3>Visite de nos locaux</h3>
                    <a href="#" target="_blank">
                        <div class="btn btn-bleu">Lire l'article</div>
                    </a>
                </article>
                <article class="small_card">
                    <img src="img/products/ModelBoucle.jpg" alt="Création de Bijoux"/>
                    <h3>Journée porte ouverte</h3>
                    <a href="#" target="_blank">
                        <div class="btn btn-bleu">Lire l'article</div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</main>
{% include 'partial/feed_insta.html.twig' %}
{% include 'partial/footer.html.twig' %}
