{% include "partial/header.html.twig" %}
<div id="container">
    <form method="post" action="userregister">
    <h2>Inscription</h2>
        <label for="mail">Adresse mail:</label><br>
        <input type="email" id="mail" name="mail"><br>
        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="confirm_password">Confirmer le mot de passe:</label><br>
        <input type="password" id="confirm_password" name="confirm_password"><br>
        <input id="submitButton" type="submit" value="S'inscrire">
        <p>Avez-vous déjà un compte? <a href="userlogin">Se connecter ici</a></p>
    </form>
    </div>
    
{% include "partial/footer.html.twig" %}
