{% include "partial/header.html.twig" %}  
    <form method="post" action="verifier.php">
        <label for="username">Nom d'utilisateur:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Se connecter">
    </form>
{% include "partial/footer.html.twig" %}