<footer class="container">
	<div class="col-footer">
		<h3>Besoin d'aide</h3>
		<ul>
			<a class="lien_menu" href="./mentions.php#mentions">
				<li>Mentions légales</li>
			</a>
			<a class="lien_menu" href="#">
				<li>Plan du site</li>
			</a>
			<a class="lien_menu" href="./mentions.php#CGU">
				<li>CGU / CGV</li>
			</a>
			<a class="lien_menu" href="./mentions.php#confidentialite">
				<li>Politique de confidentialité</li>
			</a>
		</ul>
	</div>
	<div class="col-footer">
		<h3>À propos</h3>
		<ul>
			<li>SIREN / SIRET</li>
			<a class="lien_menu" href="./about">
				<li>Nous découvrir</li>
			</a>
		</ul>

		<div class="made-in-france">
			<p class="drapeau"></p>
			<p>Made In France</p>
		</div>
	</div>
	<div class="col-footer social">
		<h3>Réseaux</h3>
		<ul>

			<li><a href="https://www.instagram.com/emmapierrejewels/"><img src="img/instagram-93.svg"/></a></li>
			<li><a href="mailto:jeneconnaispaslemail@emmapierre.fr"><img src="img/mail-5886.svg"/></a></li>

		</ul>
	</div>
</footer>
